@import "palette";

.action-bar {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;

  &--input {
    width: 100%;
    padding: 1%;

    border: none;
    outline: none;
    background-color: $pale;

    font-family: 'Inconsolata', monospace;
    font-size: 0.85em;
    color: $black;
  }

  &--suggestion {
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    padding: 1%;

    pointer-events: none;

    font-family: 'Inconsolata', monospace;
    font-size: 0.85em;
    color: fade-out($black, 0.5);
  }
}
