@import "palette";
@import "base";

.ResumePage {
  &--title {
    padding: 0;
    margin: 0;
    font-size: 0.85em;
    font-weight: bold;
    font-family: "Inconsolata", monospace;
  }

  &--title + &--details {
    margin-top: 0.5em;
  }

  &--details {
    padding: 0;
    margin: 0;
    font-size: 0.85em;
    font-family: "Inconsolata", monospace;
  }

  &--details + &--items {
    margin-top: 1.5em;
  }

  &--detail + &--detail {
    &:before {
      content: " | ";
    }
  }

  &--items {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 700px;
  }

  &--Item {
    & + & {
      margin-top: 1.5em;
    }

    &._work &--header:after {
      content: "work";
      color: $work;
    }
    &._leadership &--header:after {
      content: "leadership";
      color: $leadership;
    }
    &._education &--header:after {
      content: "education";
      color: $education;
    }

    &--header {
      margin: 0;
      font-family: "Inconsolata", monospace;
      font-size: 0.85em;
      font-weight: bold;
      color: $black;

      &:after {
        content: "";
        margin-left: 0.75em;
        font-size: 0.75em;
        font-weight: normal;
      }
    }

    &--header + &--subtitle {
      margin-top: 0.5em;
    }

    &--subtitle {
      margin: 0;
      font-family: "Inconsolata", monospace;
      font-size: 0.85em;
      color: $black;
    }

    &--subtitle + &--details {
      margin-top: 0.75em;
    }

    &--details {
      margin: 0;
      padding: 0;
      list-style: none;
      font-family: "Inconsolata", monospace;
      font-size: 0.85em;
      color: $black;
    }

    &--detail + &--detail {
      margin-top: 0.25em;
    }
  }
}
